<%- include("partials/header")%>
<style>
	body{
		background-image:url('https://images.unsplash.com/photo-1553991562-9f24b119ff51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1874&q=80');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		overflow-y:hidden;
		color:white;
		
	}
	html{
		height:100%;
		width:100%;
		margin:0;
		padding:0;
	}
	
	}
	@media screen and (max-width:767.98px){
		div{
			font-size:2rem!important;
			margin:auto auto;
		}	
	}
	
</style>
</head>
<body>
	<div class="my-auto ml-md-3 ml-lg-5 ml-0 mt-md-3 mt-lg-5 mt-1">
		<h1 class="display-3">
	      OOPS!!
		</h1>
		<h1 class="display-1 font-wiight-bold">
			404
		</h1>
		<h1 class="display-3">
			Page Not Found
		</h1>
	</div>
	



<%- include("partials/footer")%>
	
	</body>
	</html>