.container {
    max-width: 800px;
    width: 90%;
    overflow: hidden;
}

#register {
    margin-top: 17%;
    max-height: 60%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#error,
#success {
    font-weight: 100 !important;
}